<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Iron Oxide</title>
    <style>
      .form-group {
        margin:10px;
      }
    </style>
</head>
<body>
<section id="user-form">
<div class="container-lg">
  <form method="post" action="/create">
    <div class="form-group">
      <label for="exampleFormControlInput1">First Name</label>
      <input required name ="firstname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Last Name</label>
      <input required name ="lastname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Appleseed">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Gender</label>
      <select name ="gender" class="form-control" id="exampleFormControlSelect1">
        <option value="NA">Prefer Not to Answer</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <input type="number" id="age-limit" name="agenum"
      min="18" max="100" value="21" step="1">
      <label for="volume">Age</label>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Borrow Checker Favorability</label>
      <select name ="favorability" class="form-control" id="exampleFormControlSelect1">
        <option value="Like">Like</option>
        <option value="Neutral">Neutral</option>
        <option value="Dislike">Dislike</option>
      </select>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label name="student" class="form-check-label" for="exampleCheck1"> Is Student?</label>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Organization</label>
      <input required name ="organization" type="text" class="form-control" id="exampleFormControlInput1" placeholder="WSU">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Use Case?</label>
      <input required name ="usecase" type="text" class="form-control" id="exampleFormControlInput1" placeholder="WSU">
    </div>
    <div class="form-group">
      <input type="submit" value="Add User" class="btn btn-primary"></button>
    </div>
  </form>
  <%- include("usermsg")%>
</div>
</section>
<section id="user-details">
  <div class="container-lg">
    <div class="p-lg-2 text-center bg-light">
      <h1>Users</h1>
    </div>  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Favorability</th>
          <th scope="col">Is Student?</th>
          <th scope="col">Organization</th>
          <th scope="col">Use Case</th>
        </tr>
      </thead>
      <tbody>
        <% for (user of users) { %>
          <tr>
            <td scope="row"><a href=<%= "/"+user.recordid %>><%= user.firstname %></a></td>
            <td><%= user.lastname %></td>
            <td><%= user.gender %></td>
            <td><%= user.agenum %></td>
            <td><%= user.favorability %></td>
            <td><%= user.student %></td>
            <td><%= user.organization %></td>
            <td><%= user.usecase %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <%if (!locals.users || users.length == 0) { %>
      <p> No users to list! </p>
      <% } %>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>